<div class="container mt-3">
    <div class="col-12 text-center"> 
        <button (click)="alternarSobre()" class="btn btn-dark">sobre</button><br>
    </div>
    @if (mostrarSobre ) {
        <div class="row mt-3">
            <div class="col-lg-4 col-md-6 col-6 order-1 order-lg-0">
                <p><span>Turma: </span>{{turma}}</p>
                <p><span>Turno: </span>{{turno}}</p>
                <p><span>Unidade: </span>{{unidade}}</p>
            </div>
            <div class="col-6 col-lg-4 col-md-6 order-2 order-lg-0 text-lg-center text-end "> <img src="assets/foto.jpeg" class="img-fluid img-fixed-size img-thumbnail" style="width: 90px;" alt="Foto do aluno">
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-4 col-4 offset-4 col-12 order-3 order-lg-0 mt-4 text-lg-end ">
                <p>
                    Nome: <span class="nome">{{nome}}</span>
                </p>
            </div>
        </div>
    }
</div>

